[submodule "Leaked-Credentials"]
	path = Leaked-Credentials
	url = https://github.com/h4x0r-dz/Leaked-Credentials.git
        update = dir
        branch = dir
        fetchRecurseSubmodules = dir
        active = dir
        recurse = dir
        propagateBranches = dir
        fetchJobs = dir
        alternateLocation = dir
        alternateErrorStrategy = dir
